{:module-uris {:venue-view ["/js/venue-view.b4bef05.js"], :blog-view ["/js/blog-view.b4bef05.js"], :mockup-view ["/js/mockup-view.b4bef05.js"], :artist-view ["/js/artist-view.b4bef05.js"], :video-background ["/js/video-background.b4bef05.js"], :budget-view ["/js/budget-view.b4bef05.js"], :landing-view ["/js/landing-view.b4bef05.js"], :main [], :press-view ["/js/press-view.b4bef05.js"]}, :module-infos {:venue-view #{:main}, :blog-view #{:main}, :mockup-view #{:main}, :artist-view #{:main}, :video-background #{:main}, :budget-view #{:main}, :landing-view #{:main}, :main nil, :press-view #{:main}}}